.layout {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 80px 1fr 80px;
  min-height: 100vh;
}

.aside {
  grid-area: 2 / 1 / 4 / 2;
}

.main {
  grid-area: 1 / 2 / 4 / 3;
  background-color: #EDE7F6;
  min-height:max-content;
}
